.menu {
    position: fixed;
    left: 0;
    width: 48px;
    top: 0;
    bottom: 0;
    background: steelblue;
    transition: all .2s ease-in-out;
    z-index: 10;
    border: 1px solid;
    display: flex;
    align-items: center;

    & > * {
        opacity: 0;
        transition: opacity .5s .05s ease-out;
        margin: 0px 5px;
    }

    &.expand {
        border-top-right-radius: 30%;
        border-bottom-right-radius: 30%;
        width: 490px;
        & > * {
            opacity: 1;
        }

    }
}