.menu {
    position: fixed;
    left: -1px;
    width: 49px;
    top: 0;
    bottom: -1px;
    background: steelblue;
    transition: all .2s ease-in-out;
    z-index: 10;
    border: 1px solid;
    display: flex;
    align-items: center;
    text-align: center;

    & h1 {
        text-align: center !important;
        font-size: 24px;
    }

    & > * {
        opacity: 1;
        transition: opacity .5s .05s ease-out;
        margin: 0px 5px;
        text-align: center !important;
    }

    &.expand {
        border-top-right-radius: 30%;
        border-bottom-right-radius: 30%;
        width: 490px;
        & > * {
            opacity: 1;
        }

    }

    & > div > a {
        display: inline-block;
        margin: 20px 0px;
    }

    @media print {
        display: none;
    }
}