$width: 1120px;
$height: 700px;

.wing {
    box-shadow: 0 0 10px #444;
    z-index: 10;
    bottom: 10px;
    width: 200%;
    height: 100%;
    position: absolute;
}

.wrapper {
    width: 65em;
    margin: auto;
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    transform: scale(1);
    height: $height * 2;
    padding-top: $height;
    // box-shadow: 5px 10px 10px grey;

    @media print {
        display: none;
    }

    .leftWing {
        @extend .wing;
        left: 10px;
        transform: rotate(33deg);
        transform-origin: (top left);
        background-color: #ffffff;
    }

    .rightWing {
        @extend .wing;
        right: 10px;
        transform: rotate(-33deg);
        transform-origin: (top right);
        background-color: #b3b3b3;
    }

    .envelope {
        background-color: #cfcfcf;
        box-shadow: 5px 10px 10px grey;
        position: absolute;
        bottom: 10px;
        top: 70%;
        left: 10px;
        right: 10px;
    }
    .wings {
        position: absolute;
        bottom: 10px;
        top: 70%;
        left: 10px;
        right: 10px;
        overflow: hidden;
    }

    .form {
        position: absolute;
        left: 25px;
        z-index: 1;
        width: $width;
        min-height: $height;
        background-image: url('../../assets/pictures/page_bg.png');
        background-size: 10%;
        padding: 20px;
        margin: auto;
        box-shadow: 5px 10px 10px grey;
        transform: translateY(-60%);
        transition: transform .5s ease-in-out;

        .date {
            text-align: right;
        }

        .reciver{
            margin-left: 70px;

                p{
                margin: 0;
                padding: 5px 10px;
            }
        }

        .sender {
            display: flex;
            width: min-content;
            flex-flow: column;
            align-self: flex-end;
            margin: auto;
            margin-right: 70px;

            input {
                background: transparent;
                border: none;
                border-bottom: 1px solid #444;
                padding: 5px 10px;
                width: 230px;
            }
        }

        .subject {
            margin: 50px auto 20px 40px;
            font-size: 26px;
            border: none;
            background: transparent;
            display: block;
            width: 400px;
            border-bottom: 1px solid #444;

        }

        [class~="ql-editor"] {
            min-height: 300px;
        }

        .footer {
            margin-left: 70px;
        }

        .button {
            padding: 5px 10px;
            background: none;
            border: 1px solid #444;
            display: block;
            margin: auto;
            cursor: pointer;
            transition: background .1s ease-in-out, color .1s ease-in-out;
            border-radius: 4px;

            &:hover {
                color: white;
                background: #444;
            }
        }
    }
}