.hover {
  & > h2{
    transition: transform .2s ease-in-out, text-shadow .2s linear;
  }

  &:hover h2 {
    transform: scale(1.1) translateX(100px);
    text-shadow: 0 0 2px paleturquoise;
  }
}

.pointer {
  cursor: pointer;
}

@media only screen and (max-width: 1242px) {
  .item span > p{
    padding-right: 10px;
  }
}