.hover {
  *{
    transition: transform .2s ease-in-out;
  }

  &:hover *{
    transform: skew(-20deg) translateX(100px) rotate(-1deg);
  }
}

.pointer {
  cursor: pointer;
}

@media only screen and (max-width: 1242px) {
  .item span > p{
    padding-right: 10px;
  }
}