$size: 20vw;
$max-size: 190px;

.picture {
    background-position: center;
    background-size: contain;
    transition: transform .7s ease-in-out;
    z-index: 100;
    cursor: pointer !important;

    &.circle {
        border-radius: 50%;
    }
}
.absolute {
    position: absolute;
    transform: translateX(-70%) translateY(-4%);
    width: $size !important;
    height: $size !important;
    max-width: $max-size;
    max-height: $max-size;
    border: 10px solid steelblue;
}
.small, .medium, .large {
    display: inline-block !important;
    margin: 0 10px;
    background-size: contain;
    background-repeat: no-repeat;

}
.medium {
    transform: scale(3);
}
.large {
    transform: scale(6);
}