$size: 200px;

.picture {
    width: $size;
    height: $size;
    position: absolute;
    background-position: center;
    background-size: contain;
    border: 10px solid steelblue;

    &.circle {
        border-radius: 50%;
    }
}