.section {
    background: steelblue;
    padding: 20px 20px;
    text-align: center;
    border-bottom: 3px solid;
    text-align: justify;
    text-justify: newspaper;
}

.hide {
    display: none;
}
