.App {
  text-align: center;
  background-color: white;
  background-image: url(./assets/pictures/background.jpg);
  background-size: contain;
  overflow: visible;
}

.svg-inline--fa {
  font-size: 31px;
  color: white;
}