.App {
  text-align: center;
  background-color: white;
  background-image: url(./assets/pictures/background.jpg);
  background-size: contain;
  overflow: hidden;
  height: 'max-content';

  @media print {
    background: white !important;
    width: 210mm !important;
  }

  .menuButton {
    background: transparent;
    font-size: 31px;
    color: white;
    border: none;
    margin: 10px 0px;
    cursor: pointer;
    transition: color .2s ease-in-out;

    &:hover {
      color: black;
    }
  }
}