@font-face {
  font-family: "Yanone Kaffeesatz";
  src: url("./assets/fonts/YanoneKaffeesatz-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz';
  letter-spacing: 1px;
  font-size: 18px;
}

body {
  margin: 0;
  margin-top: -20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}