$width: 140px;

.box {
    position: relative;
    width: $width;
    display: inline-block;
    margin: 10px;

    @media print {
        display: none;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: 1;
        background-color: steelblue;
        top: 10px; bottom: 10px; right: -5px; left: 15px;
        border-radius: 5px;
        transform: scale(1.1);
        transition: transform .2s ease-in-out, background-color 0.5s linear;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .Link {
        position: relative;
        display: block;
        color: black;
        text-decoration: none;
        margin: 10px;
        width: $width;
        border: 1px solid;
        border-radius: 5px;
        border-top-left-radius: 30%;
        border-bottom-right-radius: 30%;
        padding: 5px;
        background: white;
        z-index: 2;
        transition: transform .2s ease-in-out;

        &:visited {
            color:  black;
        }

        span {
            padding: 3px;

            &:nth-child(2) {
                display: inline-block;
                vertical-align: super;
                padding-left: 10px;
            }
        }

        img {
            width: 25px;
            height: 25px;
        }
    }

    &:hover {
        .Link {
            transform: scale(1.1);
        }
        &::after {
            transform: scale(1.35) skew(15deg);
            background-color: paleturquoise;
        }
    }
}

.toPrint {
    display: none;
    @media print{
        margin-left: 40px;
        display: block;
    }
}